.list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2px;
  padding: 0;
}

.list-item {
  width: 40px;
  height: 40px;
  list-style: none;
  line-height: 40px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.list-item:hover {
  transform: scale(0.9);
  border-color: #FFD205;
}

.list-item.selected {
  width: 34px;
  height: 34px;
  align-self: center;
  background-color: #FFD205;
}