.App {
  text-align: center;
  background: #c874d3;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-gap: 50px;
}

@media screen and (max-width: 740px) {
  .App {
    padding: 20px;
    grid-auto-flow: row;
    height: 100%;
  }
}

